{% extends "temp/person_temp.html" %}

{% block person_five %}
    <a href="/person/info/" class="list-group-item" style="border-left: 2px; height: 45px;">我的资料</a>
    <a href="/person/modpwd/" class="list-group-item" style="border-left: 2px;height: 45px">修改密码</a>
    <a href="/person/photo/" class="list-group-item" style="border-left: 2px;height: 45px">修改头像</a>
    <a href="/person/num/" class="list-group-item" style="border-left: 2px solid coral;height: 45px">修改号码</a>
{% endblock %}

{% block person %}

{% endblock %}